body {
  background-color: #008b8b;
}

.container {
  margin: unset;
  text-align: center;
}

.todo-form {
  margin: auto;
  height: 5em;
}

.app-name::before  {
  font-family: FontAwesome;
  content: "\f298";
  display: inline-block;
  font-size: 25px;
  margin-right: 20px;
}

.app-name {
  font-size: 2.5em;
}

.input {
  width: 20em;
  padding: 10px 20px;
  margin-top: 30px;
  border: unset;
  border-radius: 25px;
  outline: none;
} 

.input:focus,.modal-input:focus {
  background-color: #c3f6ff;
  border: 1.5px solid black;
}

button:active {
  background: #bebebe;
  transform: translateY(2px);
}

button:hover {
  cursor: pointer;
}

.item-text {
  color: #fff;
  font-size: 1.2em;
  margin-left: 0.5em;
  line-height: 1.5em;
}

.item-div {
  border-radius: 25px;
  border: 1.5px solid #970303;
  width: 20em;
  margin: 10px auto;
  height: 1.7em;
  padding: 0.5em 1em 0.8em;
}

.button {
  margin: 2px;
  width: 3.5em;
  height: 2em;
  border: unset;
  border-radius: 25px;
  outline: none;
  font-weight: 700;
}

button:focus {
  border: 1.5px solid black;
}

.button-container {
  position: absolute;
  left: 50%;
}

.edit-container,.delete-container {
  display: none;
  position: fixed; 
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  background-color: #00000066; 
}

.edit-form {
  background-color:  #6dcefb;
  border: 1px solid #888;
  margin: auto;
  margin-top: 10em;
  width: 30%; 
  height: 25%;
  padding: 30px;
}

.modal-container {
  text-align: center;
  background-color:  #6dcefb;
  border: 1px solid #888;
  margin: auto;
  margin-top: 10em;
  width: 30%; 
  height: 25%;
  padding: 30px;
}

.modal-input {
  padding: 12px 20px;
  width: 80%;
  height: 1em;
  margin: 2em 1em 2em 1.5em;
  border: unset;
  border-radius: 25px;
  outline: none;
}

#modalInput {
  height: 5em;
  margin-bottom: 1em;
}

.edit-form>button {
  height: 2.2em;
  font-weight: 700;
  border: unset;
  border-radius: 25px;
  outline: none;
}

.cancel-editBtn {
  margin-left: 8em;
  width: 7em;
}

.confirm-editBtn {
  width: 4em;
  margin-left: 1.2em;
}

.modal-content {
  font-size: 25px;
  font-weight: 700;
}

.confirm {
  margin: 1px;
  width: 4.5em;
}

.cancel {
  width: 4.5em;
}

.message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2em;
  width: 30%;
  padding: 1em;
  color: #000;
  text-align: center;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #8ED0F9;
  z-index: 1;
}

@keyframes slide {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.message>strong {
  font-size: 1.2em;
  margin-right: 1em;
}

.message-btn {
  border: unset;
  border-radius: 1.8em;
  font-weight: 700;
  width: 4em;
  height: 2em;
}

@media screen and (max-width: 425px) {
  .modal-input {
    margin: 2em 1em 2em 0.8em;
  }

  .cancel-editBtn {
    margin-left: 1em;
  }

  .confirm-editBtn {
    margin-left: 9em;
  }

  .edit-form {
    width: 70%; 
    height: 25%;
  }

  .modal-container {
    width: 70%; 
    height: 25%;
    padding: 20px;
  }

  .message {
    width: 100%;
  }

  .message>strong {
    margin-right: 0.2em;
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .input {
    width: 90%;
  } 

  .todo-form {
    height: 8em;
  }

  .todo-form>button {
    display: block;
    margin: 1em 0 0 auto;
    width: 5em;
  }

  .confirm-editBtn {
    margin-left: 7em;
  }
}
