body {
  background-color: #008b8b;
}

.container {
  text-align: center;
  margin-bottom: 5em;
}

.todo-form {
  margin: auto;
  height: auto;
}

.app-name::before  {
  font-family: FontAwesome;
  content: "\f298";
  display: inline-block;
  font-size: 1em;
  margin-right: 0.5em;
}

.app-name {
  font-size: 2.5em;
}

.input {
  font-size: 1.1em;
  width: 22em;
  padding: 1em 1.5em 0 1.5em;
  border-radius: 2em;
  outline: none;
  overflow: hidden;
  resize: none;
}

.input:focus,.edit-input:focus {
  border: 0.1em solid black;
  background-color: #c3f6ff;
}

button:active {
  background: #bebebe;
  transform: translateY(2px);
}

button:hover {
  cursor: pointer;
}

.item-text {
  display: inline-block;
  color: #fff;
  font-size: 1.2em;
  line-height: 1.7em;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 8em;
}

.overflow-text {
  display: none;
  position: absolute;
  left: 38%;
  width: 20em;
  z-index: 1;
  height: auto;
  background-color: #000000ec;
  color: #fff;
  margin: 0.4em auto;
  padding: 0 1em 1em 1em;
  border-radius: 0.5em;
  word-wrap: break-word;
}

.item-container {
  margin-bottom: 1em;
}

.all-items {
  height: auto;
  margin-bottom: 5em;
}

.arrow-up {
  position: relative;
  bottom: 1em;
  width: 0;
  height: 0;
  border-left: 1em solid transparent;
  border-right: 1em solid transparent;
  border-bottom: 1em solid #000000ec;
}

.item-div {
  border-radius: 1.5em;
  border: 0.1em solid #970303;
  width: 20em;
  margin: 0 auto;
  height: 1.7em;
  padding: 0.5em 1em 0.8em;
}

.submit-button {
  display: block;
  float: right;
  margin: 1em 37em;
  width: 10%;
  height: 2em;
  border: unset;
  border-radius: 0.5em;
  outline: none;
  font-weight: 700;
}

.button {
  margin: 0.1em;
  width: 3.5em;
  height: 2em;
  border: unset;
  border-radius: 1.5em;
  outline: none;
  font-weight: 700;
}

button:focus {
  border: 1.5px solid black;
}

.button-container {
  position: absolute;
  left: 50%;
}

.edit-container,.delete-container {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000066;
  z-index: 1;
}

.edit-form {
  background-color:  #3abecf;
  border: 0.1em solid #888;
  margin: 12em auto;
  width: 30%;
  height: 25%;
  padding: 1em;
}

.delete-modal {
  text-align: center;
  background-color:  #3abecf;
  border: 0.1em solid #888;
  margin: 12em auto;
  width: 30%;
  height: 25%;
  padding: 1em;
}

.edit-input {
  padding: 1em 1.5em;
  width: 80%;
  height: 1em;
  margin: 2em 1em 2em 1.5em;
  border: unset;
  border-radius: 1.5em;
  outline: none;
}

.edit-form button {
  height: 2.2em;
  font-weight: 700;
  border: unset;
  border-radius: 1.5em;
  outline: none;
  padding: 0 1.5em;
}

.edit-form > div {
  margin: 0 1em;
}

.confirm-editBtn {
  float: right;
}

.delete-modal > p {
  font-size: 1.5em;
  font-weight: 700;
  margin-top: 1.5em;
}

.delete-modal > button {
  width: 4.5em;
  margin: 0 0.5em;
}

.message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 2em;
  width: 30%;
  padding: 1em;
  color: #000;
  text-align: center;
  animation-name: slide;
  animation-duration: 1s;
  background-color: #8ED0F9;
  z-index: 1;
}

@keyframes slide {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}

.message > strong {
  font-size: 1.2em;
  margin-right: 1em;
}

.message-btn {
  border: unset;
  border-radius: 1.8em;
  font-weight: 700;
  width: 4em;
  height: 2em;
}

@media screen and (max-width: 425px) {
  .modal-input {
    margin: 2em 1em 2em 0.8em;
  }

  .cancel-editBtn {
    margin-left: 1em;
  }

  .confirm-editBtn {
    margin-left: 9em;
  }

  .edit-form {
    width: 70%; 
    height: 25%;
  }

  .modal-container {
    width: 70%; 
    height: 25%;
    padding: 20px;
  }

  .message {
    width: 100%;
  }

  .message>strong {
    margin-right: 0.2em;
  }
}

@media screen and (max-width: 375px) and (min-width: 320px) {
  .input {
    width: 90%;
  } 

  .todo-form {
    height: 8em;
  }

  .todo-form>button {
    display: block;
    margin: 1em 0 0 auto;
    width: 5em;
  }

  .confirm-editBtn {
    margin-left: 7em;
  }
}
